<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="token" value="1794207254:AAGW_paSPms-Et35OdGmJLfIi6TbVVkJhBg"/>
    <add key="uri" value="wss://stream.binance.com:9443/ws/dogeusdt@trade"/>
    <add key="channelId" value="-1001468772498"/>
  </appSettings>
</configuration>